<!--Index-->
<template name="dental_laboSalesOrder">
    <div class="animated bounceInRight">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>
    {{> tabular table=Dental.TabularTable.LaboSalesOrder class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="dental_laboSalesOrderAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
        <li role="separator" class="divider"></li>
        <li><a style="cursor: pointer" class="laboSalesOrderPrintAction">{{fa "print"}} Print</a></li>
    {{/tabularAction}}
</template>

<!--Status-Link-Action-->
<template name="dental_statusSaleOrderLinkAction">
    <button type="button" class="btn btn-default btn-sm statusSaleOrderAction" value={{statusTitle}}>{{statusTitle}}</button>
</template>

<!--Payment-Link-Action-->
<template name="dental_salesOrderPaymentLinkAction">
    <button type="button" class="btn btn-default btn-sm salesOrderPaymentAction">
        {{#if _salesOrderPaymentCount}}
            {{_salesOrderPaymentCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>

<!--Insert-->
<template name="dental_laboSalesOrderInsert">

    {{#autoForm collection=Dental.Collection.LaboSalesOrder id="dental_laboSalesOrderInsert" type="insert" afFieldInput-placeholder="schemaLabel"}}
        <div class="row">
            <div class="col-md-4">
                {{> afQuickField name='salesOrderDate' class='SalesOrderDate'}}
            </div>
            <div class="col-md-4">
                <div class="form-group{{#if afFieldIsInvalid name='customerId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="customerId">Customer</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='customerId'}}
                        <span class="input-group-btn">
                            <a href="#" class="customerAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='customerId'}}
                        <span class="help-block">{{afFieldMessage name='customerId'}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group{{#if afFieldIsInvalid name='staffId'}} has-error{{/if}}">
                    <label class="control-label" for="staffId">Staff</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='staffId'}}
                        <span class="input-group-btn">
                            <a href="#" class="staffAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='staffId'}}
                        <span class="help-block">{{afFieldMessage name='staffId'}}</span>
                    {{/if}}
                </div>
            </div>

        </div>

        {{> afArrayField name="salesOrderDetail" id="salesOrderDetail" template="customArrayFieldLaboSalesOrderDetail" subtemplate="customObjectFieldLaboSalesOrderDetail"}}

        {{> afArrayField name="departmentMap" id="departmentMap" template="customArrayFieldForDepartmentMap" subtemplate="customObjectFieldForDepartmentMap"}}

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="submit" class="btn btn-info" id="saveAndPrint">{{fa "floppy-o"}} Save & Print</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="dental_laboSalesOrderUpdate">

    {{#autoForm collection=Dental.Collection.LaboSalesOrder id="dental_laboSalesOrderUpdate" doc=this type="update" afFieldInput-placeholder="schemaLabel"}}
        <div class="row">
            <div class="col-md-4">
                {{> afQuickField name='salesOrderDate' class='salesOrderDate'}}
            </div>
            <div class="col-md-4">
                <div class="form-group{{#if afFieldIsInvalid name='customerId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="customerId">Customer</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='customerId'}}
                        <span class="input-group-btn">
                            <a href="#" class="customerAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='customerId'}}
                        <span class="help-block">{{afFieldMessage name='customerId'}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group{{#if afFieldIsInvalid name='staffId'}} has-error{{/if}}">
                    <label class="control-label" for="staffId">Staff ID</label>

                    <div class="input-group  select2-bootstrap-append">
                        {{> afFieldInput name='staffId'}}
                        <span class="input-group-btn">
                            <a href="#" class="registerAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='staffId'}}
                        <span class="help-block">{{afFieldMessage name='staffId'}}</span>
                    {{/if}}
                </div>
            </div>
        </div>

        {{> afArrayField name="salesOrderDetail" id="salesOrderDetail" template="customArrayFieldLaboSalesOrderDetail" subtemplate="customObjectFieldLaboSalesOrderDetail"}}
        {{> afArrayField name="departmentMap" id="departmentMap" template="customArrayFieldForDepartmentMap" subtemplate="customObjectFieldForDepartmentMap"}}

        <!-- <div class="row">
            <div class="col-md-6 col-md-offset-6">
                {{> afFieldInput name='total'}}
            </div>
        </div> -->

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>


<!--dental-saleOrderStatusReady-->
<template name="dental_saleOrderStatusReadyDate">
    <div class="row">
        <div class="col-md-12">
            {{#autoForm collection=Dental.Collection.LaboSalesOrder id="dental_saleOrderStatusReadyDate" doc=this type="update" afFieldInput-placeholder="schemaLabel"}}
                <div class="row">
                        {{> afQuickField name="status.readyDate" class="readyDate"}}
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>

<!--dental-saleOrderStatusCheckOut-->
<template name="dental_saleOrderStatusCheckOutDate">
    <div class="row">
        <div class="col-md-12">
            {{#autoForm collection=Dental.Collection.LaboSalesOrder id="dental_saleOrderStatusCheckOutDate" doc=this type="update" afFieldInput-placeholder="schemaLabel"}}
                <div class="row">
                        {{> afQuickField name="status.checkOutDate" class="checkOutDate"}}
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>

<!--Show-->
<template name="dental_laboSalesOrderShow">
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{_id}}</dd>
        <dt>Sales Order Date</dt>
        <dd>{{salesOrderDateFormat}}</dd>
        <dt>Customer</dt>
        <dd>{{customerId}}</dd>
        <dt>Staff</dt>
        <dd>{{staffId}}</dd>
        <dt>Sales Order Detail</dt>
        <dd>{{salesOrderDetailFormat}}</dd>
        <dt>Department Map</dt>
        <dd>{{departmentMapFormat}}</dd>
        <dt>Status</dt>
        <dd>{{statusTitleForShow}}</dd>
        <dt>Total</dt>
        <dd>{{total}}</dd>
    </dl>
</template>

<!--Custom array field-->
<template name="afArrayField_customArrayFieldLaboSalesOrderDetail">
  <div class="panel panel-default">
      <div class="panel-heading">{{fa "stethoscope"}} {{afFieldLabelText name=this.atts.name}}</div>
      <div class="panel-body">

          <div class="row">
              <div class="col-md-1">
                  <p><b>Action</b></p>
              </div>
              <div class="col-md-4">
                  <p><b>Item</b></p>
              </div>
              <div class="col-md-1">
                  <p><b>Qty</b></p>
              </div>
              <div class="col-md-2">
                  <p><b>Price</b></p>
              </div>
              <div class="col-md-2">
                  <p><b>Discount</b></p>
              </div>
              <div class="col-md-2">
                  <p><b>Amount</b></p>
              </div>
          </div>

          {{#if afFieldIsInvalid name=this.atts.name}}
              <div class="has-error">
                  <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
              </div>
          {{/if}}

          {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
              <div class="row array-item salesOrder">
                  <div class="col-sm-1">
                      {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                          <button type="button" class="btn btn-sm btn-danger autoform-remove-item btnRemove">
                              <span class="glyphicon glyphicon-minus"></span>
                          </button>
                      {{/if}}
                  </div>

                  {{> UI.dynamic template=../atts.subtemplate}}
              </div>
          {{/afEachArrayItem}}

          {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
              <div class="row">
                  <!--Add more-->
                  <div class="col-sm-1">
                      <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAdd"
                              data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                              data-autoform-maxCount="{{this.atts.maxCount}}">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                  </div>

                  <div class="col-sm-11">
                      <hr>
                  </div>

              </div>

          {{/if}}

          <div class="row">
              <!--Sub Total-->
              <div class="col-sm-3 col-sm-offset-3">
                  {{> afQuickField name='subTotal' readonly="true" template="bootstrap3" class="input-sm"}}
              </div>
              <!--Sub Discount-->
              <div class="col-sm-2">
                  {{> afQuickField name='subDiscount' template="bootstrap3" id="subDiscount" class="input-sm"}}
              </div>
              <!--Total-->
              <div class="col-sm-3">
                  <div class="form-group" data-required="true">
                      <label for="total" class="control-label">Total</label>
                      <input type="number" placeholder="Total" readonly="" class="input-sm form-control total"
                             required="" data-schema-key="total" step="0.01">
                      <span class="help-block"></span>
                  </div>
              </div>
          </div>

      </div>
  </div>
</template>

<!--Custom object field-->
<template name="customObjectFieldLaboSalesOrderDetail">
  <div class="col-sm-4">
      {{> afQuickField name=current.itemId template="bootstrap3" label=false class="input-sm item"}}
  </div>
  <div class="col-sm-1">
      {{> afQuickField name=current.qty template="bootstrap3" label=false class="input-sm qty"}}
  </div>
  <div class="col-sm-2">
      {{> afQuickField name=current.price template="bootstrap3" label=false class="input-sm price" readonly=true}}
  </div>
  <div class="col-sm-2">
      {{> afQuickField name=current.discount template="bootstrap3" label=false class="input-sm discount"}}
  </div>
  <div class="col-sm-2">
      {{> afQuickField name=current.amount template="bootstrap3" label=false class="input-sm amount" readonly=true}}
  </div>
</template>

<!--Custom array field for Department Map item-->
<template name="afArrayField_customArrayFieldForDepartmentMap">
    <div class="panel panel-default">
        <div class="panel-heading">{{fa "stethoscope"}} {{afFieldLabelText name=this.atts.name}}</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-1">
                    <p><b>Action</b></p>
                </div>
                <div class="col-md-6">
                    <p><b>Department</b></p>
                </div>
                <div class="col-md-5">
                    <p><b>Price (%)</b></p>
                </div>
            </div>

            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row array-item departments">
                    <div class="col-sm-1">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                            <button type="button" class="btn btn-sm btn-danger autoform-remove-item btnRemove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        {{/if}}
                    </div>

                    {{> UI.dynamic template=../atts.subtemplate}}
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <!--Add more-->
                   <div class="col-sm-1">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAdd"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                    <div class="col-sm-11">
                        <hr>
                    </div>

                </div>

            {{/if}}

        </div>
    </div>
</template>

<!--Custom object field for Department Map item-->
<template name="customObjectFieldForDepartmentMap">
    <div class="col-sm-6">
        {{> afQuickField name=current.department template="bootstrap3" label=false class="input-sm department"}}
    </div>
    <div class="col-sm-5">
        {{> afQuickField name=current.price template="bootstrap3" label=false class="input-sm price"}}
    </div>
</template>
