<!--Index-->
<template name="dental_laboMaterial">
    <div class="animated bounceInRight">
        <p>
            <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
        </p>

        {{> tabular table=Dental.TabularTable.LaboMaterial class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="dental_laboMaterialAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="dental_laboMaterialInsert">
    {{#autoForm collection=Dental.Collection.LaboMaterial id="dental_laboMaterialInsert" type="insert"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name='name'}}
                {{> afQuickField name='price'}}

                <div class="form-group{{#if afFieldIsInvalid name='unitId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="unitId">Unit</label>

                    <div class="input-group select2-bootstrap-append">
                        {{> afFieldInput name='unitId'}}
                        <span class="input-group-btn">
                            <a href="#" class="laboUnitAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='unitId'}}
                        <span class="help-block">{{afFieldMessage name='unitId'}}</span>
                    {{/if}}
                </div>

                <div class="form-group{{#if afFieldIsInvalid name='materialCategoryId'}} has-error{{/if}}" data-required="true">
                    <label class="control-label" for="unitId">Material Category</label>

                    <div class="input-group select2-bootstrap-append">
                        {{> afFieldInput name='materialCategoryId'}}
                        <span class="input-group-btn">
                            <a href="#" class="laboMaterialCategoryAddon btn btn-default">
                                {{fa "plus"}}
                            </a>
                        </span>
                    </div>
                    {{#if afFieldIsInvalid name='materialCategoryId'}}
                        <span class="help-block">{{afFieldMessage name='materialCategoryId'}}</span>
                    {{/if}}
                </div>

                {{> afQuickField name='des'}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="dental_laboMaterialUpdate">

    {{#autoForm collection=Dental.Collection.LaboMaterial id="dental_laboMaterialUpdate" doc=this type="update"}}
    <div class="row">
        <div class="col-md-12">
            {{> afQuickField name='name'}}
            {{> afQuickField name='price'}}

            <div class="form-group{{#if afFieldIsInvalid name='unitId'}} has-error{{/if}}" data-required="true">
                <label class="control-label" for="unitId">Unit</label>

                <div class="input-group select2-bootstrap-append">
                    {{> afFieldInput name='unitId'}}
                    <span class="input-group-btn">
                        <a href="#" class="laboUnitAddon btn btn-default">
                            {{fa "plus"}}
                        </a>
                    </span>
                </div>
                {{#if afFieldIsInvalid name='unitId'}}
                    <span class="help-block">{{afFieldMessage name='unitId'}}</span>
                {{/if}}
            </div>

            <div class="form-group{{#if afFieldIsInvalid name='materialCategoryId'}} has-error{{/if}}" data-required="true">
                <label class="control-label" for="unitId">Material Category</label>

                <div class="input-group select2-bootstrap-append">
                    {{> afFieldInput name='materialCategoryId'}}
                    <span class="input-group-btn">
                        <a href="#" class="laboMaterialCategoryAddon btn btn-default">
                            {{fa "plus"}}
                        </a>
                    </span>
                </div>
                {{#if afFieldIsInvalid name='materialCategoryId'}}
                    <span class="help-block">{{afFieldMessage name='materialCategoryId'}}</span>
                {{/if}}
            </div>

            {{> afQuickField name='des'}}
        </div>
    </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}

</template>

<!--Show-->
<template name="dental_laboMaterialShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Price</dt>
        <dd>{{price}}</dd>
        <dt>Unit</dt>
        <dd>{{_unit.name}}</dd>
        <dt>Material Category</dt>
        <dd>{{_materialCategory.name}}</dd>
        <dt>Description</dt>
        <dd>{{des}}</dd>
    </dl>
</template>
